<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=aab792fc-6ce8-48ea-beec-a3dd0043dad6.sqlserver.sequelizer.com;Database=dbaab792fc6ce848eabeeca3dd0043dad6;User ID=ipwzdbgwjddkglti;Password=X2AdMUaZcVsvUz7nm3nqGdQE8nqyg5qUjTSAVWfHKb3uS4h4k3mtoCVUj5eyDHSg;" />
  </connectionStrings>
</configuration>